
  <div class="form-box form">
    <h3>Login</h3>
    <form action="/login" method="post">
      <input type="text" name="user[email]" placeholder='Email' class="input-box">
      <br>
      <input type="password" name="user[password]" placeholder='Password'>
      <br>
     
      <input type="submit" value="login" class="button">
    </form>
  </div>

  <div class="form-box form">
    <h3>Sign up for an account</h3>
    <form action="/register" method="post">
      <input type="text" name="user[first_name]" placeholder="First Name">
      <br>
      <input type="text" name="user[last_name]" placeholder="Last Name">
      <br>
      <input type="text" name="user[email]" placeholder='Email'>
      <br>
      <input type="password" name="user[password]" placeholder='Password'>
      <br>
       <p>User type</p>
      <input type="radio" name="user_type" value="homeowner">Homeowner<br>
      <input type="radio" name="user_type" value="contractor">Contractor<br>
      <input type="submit" value="Sign Up" class="button">
    </form>
  </div>

