<div class="page">
    <form action="" method="">
      <label for="company_name">Company Name:
        <input type="text" name="[company_name]" id="company_name">
      </label>
      <br>
      <label for="company_location">Location:
        <input type="text" name="company[location]" id="company_location">
      </label>
      <br>
      <label for="company_mission">Our Mission:
        <textarea name="company[mission]" id="company_mission" cols="30" rows="10"></textarea>
      </label>
      <br>
      <label for="company_history">Our History:
        <textarea name="company[history]" id="company_history" cols="30" rows="10"></textarea>
      </label>
      <br>
      <input type="submit" value="Submit your Bio">
    </form>
</div>
