<div class="page">
  <nav>
    <ul>
      <li><a href="">Bio</a></li>
      <li><a href="">Images</a></li>
      <li><a href="">Ratings/Comments</a></li>
      <li><a href="">Requests</a></li>
      <li><a href="">Promotions</a></li>
    </ul>
  </nav>
</div>
