<div class="index_btn">
<form action="/login" method="get" id="homeowner_login" class="login">
  <input type="submit" value="Homeowner" class="login_btn">
</form>

<form action="/login" method="get" id="contractor_login" class='login'>
  <input type="submit" value='Contractor' class="login_btn">
</form>
</div>

