<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" src="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<div class="background"><img src="/house.png" id="back-image"></div>
<body>
    <header>
    <h1>Contractor Project</h1>
    <div class="welcome">
      <% if current_user %>
        <p>Welcome, <%= @user.first_name %></p><button class="button"><a href="/logout" >Logout</a></button>
      <% end %>
    </div>
  </header>
  <%= yield %>
</body>

</html>
